.img.song{
    height: 50px;
    width: 50px;
    margin: 5px;
}
.img.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.toggle-button.transparent.base {
    border-radius: 45px;
    height: 40px;
    width: 40px;
    margin: 2px;
    padding: 8px;
    vertical-align: middle;
    background-color: var(--element-bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle-button.transparent.toggled {
    border-radius: 45px;
    height: 40px;
    width: 40px;
    margin: 2px;
    padding: 8px;
    vertical-align: middle;
    background-color: var(--primary-element);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-button.transparent:hover .content {
    background-color: var(--element-hover);
  }
  
  .toggle-button.transparent.checked .content {
    background-color: var(--primary-element);
  }
  
  
  .button.round {
    border-radius: 45px;
    height: 40px;
    width: 200px;
    padding: 8px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button.round:hover .content {
    background-color: var(--element-hover);
  }
  
  .button.circle {
    background-color: var(--element-bg);
    border-radius: 45px;
    height: 40px;
    width: 40px;
    margin: 2px;
    padding: 8px;
    border: 3px solid var(--primary-element);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button.circle:hover {
    background-color: var(--element-hover);
    border-color: var(--secondary-element);
  }
  
  .button.transparent {
    border-radius: 45px;
    height: 40px;
    width: 40px;
    margin: 2px;
    padding: 8px;
    background-color: var(--element-bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button.transparent:hover .content {
    background-color: var(--element-hover);
  }
  
  .button img,
  .toggle-button img {
    max-width: 100%;
    max-height: 100%;
    object-fit:fill;
    display: block;
  }

  .image.cardImage {
    content: url('../assets/Images/account.png');
  }
  
  .image.cardImage:hover {
    content: url('../assets/Images/play.png');
  }
  
  .label.base {
    vertical-align: middle;
    color: var(--primary-font);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .label.baseCenter {
    vertical-align: middle;
    text-align: center;
    color: var(--primary-font);
  }
  
  .label.baseH1 {
    vertical-align: middle;
    color: var(--primary-font);
    font-size: 24px;
  }
  
  .label.baseH2 {
    vertical-align: middle;
    color: var(--primary-font);
    font-size: 20px;
  }
  
  .progress.base {
    height: 12px;
    border-radius: 10px;
    background-color: var(--primary-element);
  }
  
  .textbox.base {
    background-color: var(--secondary-bg);
    color: var(--primary-font);
    caret-color: var(--primary-font);
    border: 3px solid var(--primary-element);
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 8px;
  }
  
  .textbox.base:focus {
    background-color: var(--ternary-bg);
    border-color: var(--primary-element);
  }
  
  .textbox.base:hover {
    background-color: var(--ternary-bg);
    border-color: var(--secondary-element);
  }
  
  .slider.volume {
    width: 100px;
  }
  
  .slider.song {
    margin-top: -12px;
  }
  
  .slider.song .track {
    height: 20px;
  }
  
  .slider.volume .thumb {
    background-color: var(--primary-element);
    border-radius: 10px;
    border: 1px solid transparent;
  }
  
  .slider.song .thumb {
    background-color: transparent;
    visibility: hidden;
  }
  
  .slider.song:hover .thumb {
    visibility: visible;
    background-color: var(--primary-element);
  }
  
  .tabitem.base {
    padding: 10px 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary-font);
  }
  
  .tabitem.base.selected {
    color: var(--primary-font);
  }
  
  .itemscontrol.base {
    display: flex;
    flex-direction: column;
    align-items: center;
  }