html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  width: 100%;
  padding-right: 8px;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 0; 
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2px; /* Space between items, similar to Margin in Avalonia */
  align-items: center; /* Optional: vertical alignment */
  justify-content: flex-start; /* Optional: horizontal alignment */
}

.grid {
    display: grid;
    height: 100%;
  }
  .border.base {
    border-radius: 10px;
    background: var(--background-gradient);
    padding: 2px;
    margin: 2px;
    height: 100%;
    overflow: hidden;
  }
  .grid.main-view {
    display: grid;
    overflow: hidden;
    grid-template-rows: 100px 1fr;
    /* min-width: 800px;
    min-height: 400px; */
    height: 100%;
    width: 100%;
    background: var(--ternary-bg);
  }
  .flex-grow {
    flex: 1;
  }
  .dock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .horizontal{
    display: flex;
  }
  .border.song {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--primary-gradient);
    padding: 2px 8px;
    margin: 6px 2px;
    transition: transform 0.1s ease-in-out;
  }
  
  
  .border.song:hover {
    background: var(--primary-gradient-hover);
    transform: scale(1.01, 1.05);
  }
  
  .border.card {
    opacity: 1;
    width: 136px;
    height: 136px;
    border-radius: 15px;
    background: var(--primary-gradient);
    padding: 2px;
    margin: 5px;
    transition: transform 0.1s ease-in-out, padding 0.1s, border-radius 0.1s;
  }
  
  .border.card:hover {
    background: var(--primary-gradient-hover);
    transform: scale(1.05);
  }
  
  .border.playlist {
    border-radius: 10px;
    background: var(--primary-gradient);
    padding: 2px;
    margin: 10px 2px;
  }
  
  .border.playlist:hover {
    border-radius: 10px;
    background: var(--primary-gradient);
    padding: 2px;
    margin: 10px 2px;
    transform: scale(1.01, 1.05);
  }
  
  .border.podcast {
    opacity: 1;
    width: 500px;
    height: 250px;
    border-radius: 5px;
    background: var(--primary-gradient);
    padding: 2px;
    margin: 10px;
  }
  
  .stack.baseV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .stack.baseH {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .stack.leftH {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .stack.rightH {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .stack.leftV {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  