:root {
    --primary-bg: #5A5855;
    --secondary-bg: #252325;
    --ternary-bg: #394245;
  
    --element-bg: #7B736A;
    --element-hover: #918980;
  
    --primary-element: #1C7998;
    --secondary-element: #299A9A;
  
    --primary-font: #C2E4E9;
    --secondary-font: #19647E;
  
    --background-gradient: linear-gradient(135deg, #333131 0%, #393838 50%, #333131 100%);
    --primary-gradient: linear-gradient(135deg, #265565 0%, #394245 100%);
    --primary-gradient-hover: linear-gradient(135deg, #306171 0%, #495256 100%);
  }
  